*{box-sizing:border-box;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif}
body,html,#game-root{height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:#111}
#game-root{position:relative}
canvas{background:#000;border:6px solid #222;image-rendering:pixelated}
#hud{position:absolute;left:10px;top:10px;color:#fff;background:rgba(0,0,0,0.4);padding:6px 10px;border-radius:6px}
#hud > div{margin-bottom:4px}
#hud > div:last-child{margin-bottom:0}
#hud #controls{font-size:11px;color:#ccc;margin-top:6px}
